body{
	height:2000px;
}
@font-face{
	font-family:'SSP-Regular';
	src:url(../fonts/SourceSansPro-Regular.otf);
}
@font-face{
	font-family:'SSP-Light';
	src:url(../fonts/SourceSansPro-Light.otf);
}
@font-face{
	font-family:'SSP-Bold';
	src:url(../fonts/SourceSansPro-Bold.otf);
}
@font-face{
	font-family:'SSP-Italic';
	src:url(../fonts/SourceSansPro-It.otf);
}
*{
	font-family:'SSP-Regular';
}
header{
	background:url(../images/headerBackground.jpg)no-repeat center;
	background-size:cover;
	box-sizing:border-box;
	position:relative;
	width:100%;
}
.logo{
	background:#008bfe;
	border-radius:100px;
	box-shadow:0 5px 8px rgba(0,0,0,.5);
	display:block;
	margin:0 auto;
	height:150px;
	width:150px;
}
.logo + h1:first-line{
	color:#fff;
	text-align:center;
	font-family:'SSP-Bold';
	font-size:2.16em;
}
.logo + h1 + h2{
	color:#fff;
}
header a{
	bottom:25px;
	color:#fff;
	display:block;
	position:absolute;
	border:1px solid #fff;
	padding:5px 20px;
	border-radius:50px;
	opacity:.3;
	box-sizing:border-box;
	animation:learnMoreAnimation 2.5s infinite linear;
}
header a:hover{
	text-decoration:none;
	color:#fff;
}

@keyframes learnMoreAnimation{
	0%{
		opacity:.3;
	}
	5%{
		opacity:1;
	}
	100%{
		opacity:.3;
	}
}

#message1{
	background:#071732;
	padding:50px 100px;
}
#message1 h2{
	text-align:center;
	color:#fff;
	font:3em 'SSP-Bold';
	border-bottom:solid 4px #e7e7e8; 
	padding-bottom:20px;
}
#message1 h3{
	text-align:center;
	color:#cbcbcb;
	font:2em 'SSP-Italic';
}

#webDesign{
	background:url(../images/footer_lodyas.png) repeat;
}
#webDesign section img{
	padding:30px 30px 0 10px;
}
#webDesign section h2{
	color:#fff;
	padding:100px 0 0 50px ;
	font-size: 2.5em;
}
#webDesign section p{
	color:#aaa;
	font-size: 1.5em;
	padding:0 0 0 50px;
}
#webDesign code{
	color:#008bfe;
	font-size:1em;
}

#webDevelopment{
	margin:0;
	background:url(../images/brickwall.png) repeat fixed;
	box-shadow: inset 0px 0px 50px rgba(0,0,0,.5);
}
#webDevelopment section img{
	padding:30px;
}
#webDevelopment section h2{
	color:#121d38;
	padding:100px 0 0 50px ;
	font-size: 2.5em;
	font-family:'SSP-Bold';
	text-shadow:1px 5px 2px rgba(0,0,0,.2);
}
#webDevelopment section p{
	margin-top:80px;
	color:#333;
	font-size: 1.5em;
	padding:0 0 0 50px;
}
#webDevelopment section p span{
	color:#008bfe;
	font-family: 'SSP-Bold'
}
#webDevelopment code{
	color:#008bfe;
	font-size:1em;
}

#contact{
	margin:0;
	background:url(../images/headerBackground.jpg) repeat;
	padding:50px;
}
#contact h2{
	font-family:'SSP-Bold';
	text-align: center;
	font-size: 3em;
	color:#fff;
}
#contact input,
#contact textarea{
	display:block;
	width: 80%;
	margin:0 auto;
	padding:20px;
	border:none;
	box-shadow:0 0 5px rgba(0,0,0,.5);
	transition:all ease-in-out .2s;
}

#contact input:hover,
#contact textarea:hover,
#contact input:focus,
#contact textarea:focus{
	transition:all ease-in-out .2s;
	box-shadow:0 0 10px rgba(0,0,0,.7);
	outline:0;
}

#contact button{
	width:100%;
	margin:10px 0 0;
	display:block;
	background:#ccc;
	border:none;
	padding:20px;
}

